<div class="container m-4">

  <h1 class="text-center">Stupid Coaching 😪</h1>

  <div class="card m-3 p-2">
    <div class="card-body">
      <h3><%= @question %></h3>
      <h2>-You</h2>
    </div>
  </div>

  <div class="card m-3 p-2">
    <div class="card-body">
      <h3><%= @answer %></h3>
      <h2>-Your coach</h2>
    </div>
  </div>
</div>
